.intro{
    @include background(
        "../img/bg-img-0-small.jpg",
        "../img/bg-img-0-medium.jpg",
        "../img/bg-img-0-large.jpg",
        "../img/bg-img-0-xlarge.jpg"
        );
    height: 100vh;
    position: relative;

    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.launching-soon{
    @include background(
        "../img/bg-img-1-small.jpg",
        "../img/bg-img-1-medium.jpg",
        "../img/bg-img-1-large.jpg",
        "../img/bg-img-1-xlarge.jpg"
        );
}

.surprise{
    @include background(
        "../img/bg-img-2-small.jpg",
        "../img/bg-img-2-medium.jpg",
        "../img/bg-img-2-large.jpg",
        "../img/bg-img-2-xlarge.jpg"
        );
}

.most-bought{
    @include background(
        "../img/bg-img-3-small.jpg",
        "../img/bg-img-3-medium.jpg",
        "../img/bg-img-3-large.jpg",
        "../img/bg-img-3-xlarge.jpg"
        );
}

.reviews{
    @include background(
        "../img/bg-img-4-small.jpg",
        "../img/bg-img-4-medium.jpg",
        "../img/bg-img-4-large.jpg",
        "../img/bg-img-4-xlarge.jpg"
        );
}

.add-review{
    @include background(
        "../img/bg-img-5-small.jpg",
        "../img/bg-img-5-medium.jpg",
        "../img/bg-img-5-large.jpg",
        "../img/bg-img-5-xlarge.jpg"
        );
}